#swt-blocking-overlay {
    background-color: #202124;
    color: #bdc1c6;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99999 !important;
    top: 0;
    left: 0;
}

.swt-blocking-overlay-text {
    font-weight: bold;
    font-size: 3em;
    padding-top: 20%;
}

.swt-blocking-hide-overflow {
    overflow: hidden;
}

#swt-timer {
    border: 1px solid;
    width: 10%;
    position: fixed;
    right: 0px;
    top: 200px;
    z-index: 999 !important;
}