#swt-blocking-overlay {
    background-color: #202124;
    color: #bdc1c6;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 13333337 !important;
    top: 0;
    left: 0;
}

.swt-blocking-overlay-text {
    font-weight: bold;
    font-size: 3em;
    padding-top: 20%;
}

.swt-blocking-hide-overflow {
    overflow: hidden;
}

#swt-timer {
    z-index: 1333337 !important;
    position: fixed;
    right: 2px;
    top: 200px;
    background-color: #311 !important;
    color: #cdc !important;
    border: 1px solid #800;
    font-size: xx-large !important;
    font-variant-numeric: tabular-nums !important;
    font-weight: bold !important;
    font-family: 'Courier New', Courier, monospace !important;
    line-height: normal !important;
    padding: 5px 0;
    opacity: 0.4;
}

#swt-timer:hover {
    cursor: default;
}

.dragging {
    cursor: move !important;
}